################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Back/.vs/SiteMercado
/Back/Library/obj
/Back/MyTests/obj
/Back/Repository/obj
/Back/Service/obj
/Back/SiteMercado/obj
